CompileFlags:
    Remove: [-f*, -m*]
    Add: [-Wextra, -Wall]
Diagnostics:
  ClangTidy:
    Add:
      - google-*
      - readability-*
      - modernize-*
      - cppcoreguidelines-*
      - performance-*
    Remove:
      - readability-function-cognitive-complexity
      - cppcoreguidelines-avoid-non-const-global-variables
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
      - cppcoreguidelines-avoid-do-while
      - cppcoreguidelines-pro-type-vararg
      - cppcoreguidelines-pro-type-union-access
      - readability-math-missing-parentheses
      
    CheckOptions:
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.ClassMemberCase: lower_case
      readability-identifier-naming.ConstexprVariableCase: CamelCase
      readability-identifier-naming.ConstexprVariablePrefix: k
      readability-identifier-naming.EnumCase: CamelCase
      readability-identifier-naming.EnumConstantCase: CamelCase
      readability-identifier-naming.EnumConstantPrefix: k
      readability-identifier-naming.FunctionCase: camelBack
      readability-identifier-naming.GlobalConstantCase: CamelCase
      readability-identifier-naming.GlobalConstantPrefix: k
      readability-identifier-naming.IgnoreMainLikeFunctions: 1
      readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
      readability-identifier-naming.MacroDefinitionIgnoredRegexp: '^[A-Z]+(_[A-Z]+)*_$'
      readability-identifier-naming.NamespaceCase: lower_case
      readability-identifier-naming.ParameterCase: lower_case
      readability-identifier-naming.PrivateMemberCase: lower_case
      readability-identifier-naming.PrivateMemberSuffix: _
      readability-identifier-naming.ProtectedMemberCase: lower_case
      readability-identifier-naming.ProtectedMemberSuffix: _
      readability-identifier-naming.PublicMemberCase: lower_case
      readability-identifier-naming.PublicMemberSuffix: ''
      readability-identifier-naming.StaticConstantCase: CamelCase
      readability-identifier-naming.StaticConstantPrefix: k
      readability-identifier-naming.StaticVariableCase: lower_case
      readability-identifier-naming.TypeAliasCase: CamelCase
      readability-identifier-naming.TypedefCase: CamelCase
      readability-identifier-naming.VariableCase: lower_case

  # Suppress:
  #   - Wold-style-cast # grrr, Esp-idf uses these a ton, makes every macro warn

---

If:
  PathExclude: main/.*
Diagnostics:
  Suppress: '*'