CompileFlags:
    Remove: [-f*, -m*]
    Add: [-Wextra, -Wall]
Diagnostics:
  ClangTidy:
    Add:
      - google-*
      - readability-*
      - modernize-*
      - cppcoreguidelines-*
      - performance-*
    Remove:
      - readability-function-cognitive-complexity
      - cppcoreguidelines-avoid-non-const-global-variables
      - cppcoreguidelines-avoid-magic-numbers
      - readability-magic-numbers
    CheckOptions:
      readability-identifier-naming.FunctionCase: camelBack
  # Suppress:
  #   - Wold-style-cast # grrr, Esp-idf uses these a ton, makes every macro warn
      
If:
  PathExclude: main/.*
Diagnostics:
  Suppress: '*'